<div ng-controller="pacienteCtrl">

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-4">
                    <input class="btn btn-default" type="button" value="Novo" ng-click="novopaciente()">
                </div>
                <div class="col-md-4">
                    <h3 class="titulo">Pacientes</h3>
                </div>
                <div class="col-md-4">

                </div>
            </div>
        </div>
        <div class="panel-body">
            <table class="table table-hover" ng-if="pacientes">
                <tr>
                    <th>ID</th>
                    <th>NOME PACIENTE</th>
                    <th>TELEFONE</th>
                    <th>DATA NASC.</th>
                    <th>SEXO</th>
                    <th>CPF</th>
                    <th></th>
                </tr>
                <tr ng-repeat="paciente in pacientes" id="{{paciente.id}}">
                    <td ng-click="exibirPaciente(paciente.id)" data-toggle="tooltip" data-placement="top" title="Click para editar">{{paciente.id}}</td>
                    <td ng-click="exibirPaciente(paciente.id)" data-toggle="tooltip" data-placement="top" title="Click para editar">{{paciente.nome}}</td>
                    <td ng-click="exibirPaciente(paciente.id)" data-toggle="tooltip" data-placement="top" title="Click para editar">{{paciente.telefone}}</td>
                    <td ng-click="exibirPaciente(paciente.id)" data-toggle="tooltip" data-placement="top" title="Click para editar">{{paciente.data_nascimento}}</td>
                    <td ng-click="exibirPaciente(paciente.id)" data-toggle="tooltip" data-placement="top" title="Click para editar">{{paciente.sexo | uppercase}}</td>
                    <td ng-click="exibirPaciente(paciente.id)" data-toggle="tooltip" data-placement="top" title="Click para editar">{{paciente.cpf}}</td>
                    <td><a href="#" ng-click="apagarpaciente(paciente.id)" alt="Apagar"><span class="glyphicon glyphicon-trash" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Apagar"></span></a></td>
                </tr>

            </table>
        </div>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="pacienteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Médico</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="nome">Nome</label>
                            <input type="text" class="form-control" id="nome" placeholder="nome" ng-model="paciente.nome">
                        </div>
                        <div class="form-group">
                            <label for="cpf">CPF</label>
                            <input type="text" class="form-control" id="cpf" placeholder="cpf" ng-model="paciente.cpf">
                        </div>
                        <div class="form-group">
                            <label for="telefone">Telefone</label>
                            <input type="text" class="form-control" id="telefone" ng-model="paciente.telefone">
                        </div>
                        <div class="input-group date" data-provide="datepicker">
                            <fieldset disabled>
                                <input type="disabled" class="form-control" ng-model="paciente.data_nascimento">
                            </fieldset>
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="sexo">Sexo</label>
                            <div class="radio">
                                <label>
                                <input type="radio" name="sexo" id="sexoM" value="m" ng-model="paciente.sexo">
                                    Masculino
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                <input type="radio" name="sexo" id="sexoF" value="f" ng-model="paciente.sexo">
                                    Feminino
                                </label>
                            </div>
                        </div>
                        <div class="checkbox">
                            <label>
                            <input type="checkbox" ng-model="paciente.ativo">Ativo
                        </label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="salvar(paciente)"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span></button>
                </div>
            </div>
        </div>
    </div>


</div>



<script>
    $('.datepicker').datepicker({
        format: 'dd/mm/yyyy',
        // startDate: '-3d',
        autoClose: 'true'
    });

    $('#pacienteModal').on('shown.bs.modal', function() {
        $('#nome').focus();
    });
</script>